* {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
    will-change: all;
}

*:before,
*:after {
    box-sizing: border-box;
    will-change: all;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-focus-ring-color: rgba(255,255,255,0);
}

body {
    font-size: 100%;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

a {
    background: transparent;
}

*:focus,
*:active,
*:hover {
    outline: 0;
}

hr {
    box-sizing: content-box;
    height: 0;
}

ol,
ul {
    list-style: none;
}

pre {
    -moz-tab-size: 4;
    tab-size: 4;
    white-space: pre-wrap;
}

q {
    quotes: '\201C' '\201D' '\2018' '\2019';
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

button {
    overflow: visible;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"],
input[type="email"],
input[type="password"],
input[type="text"],
input[type="phone"] {
    -webkit-appearance: none;
    box-sizing: border-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

button,
input,
select[multiple],
textarea {
    background-image: none;
}

input,
select,
textarea {
    border-radius: 0;
    box-shadow: none;
}

input,
textarea {
    resize: none;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url("/public/fonts/BebasNeueRegular.eot");
    src: local('Bebas Neue Regular'), local('BebasNeueRegular'), url("/public/fonts/BebasNeueRegular.eot?#iefix") format('embedded-opentype'), url("/public/fonts/BebasNeueRegular.woff") format('woff'), url("/public/fonts/BebasNeueRegular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url("/public/fonts/BebasNeueBold.eot");
    src: local('Bebas Neue Bold'), local('BebasNeueBold'), url("/public/fonts/BebasNeueBold.eot?#iefix") format('embedded-opentype'), url("/public/fonts/BebasNeueBold.woff") format('woff'), url("/public/fonts/BebasNeueBold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url("/public/fonts/BebasNeueLight.eot");
    src: local('Bebas Neue Light'), local('BebasNeueLight'), url("/public/fonts/BebasNeueLight.eot?#iefix") format('embedded-opentype'), url("/public/fonts/BebasNeueLight.woff") format('woff'), url("/public/fonts/BebasNeueLight.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url("/public/fonts/BebasNeue-Thin.eot");
    src: local('Bebas Neue Thin'), local('BebasNeue-Thin'), url("/public/fonts/BebasNeue-Thin.eot?#iefix") format('embedded-opentype'), url("/public/fonts/BebasNeue-Thin.woff") format('woff'), url("/public/fonts/BebasNeue-Thin.ttf") format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Book';
    src: url("/public/fonts/BebasNeueBook.eot");
    src: local('Bebas Neue Book'), local('BebasNeueBook'), url("/public/fonts/BebasNeueBook.eot?#iefix") format('embedded-opentype'), url("/public/fonts/BebasNeueBook.woff") format('woff'), url("/public/fonts/BebasNeueBook.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

.siteHeader {
    text-transform: uppercase;
    padding: 3rem 0;
    font-size: 3rem;
    box-shadow: 0 -1.2rem 6.62rem 0 #fd4;
}

.siteHeader__wrapper {
    margin: 0 auto;
    max-width: 180rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 0 2rem;
}

.siteHeader__logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-decoration: none;
}

.siteHeader__logo svg {
    max-width: 5rem;
    aspect-ratio: 1;
}

.siteHeader__logo span {
    color: #fff;
    font-weight: 500;
    text-shadow: 0 0 5px #fd4, 0 0 10px #fd4, 0 0 15px #fd4, 0 0 20px #fd4, 0 0 25px #fd4, 0 0 30px #fd4, 0 0 35px #fd4;
}

.siteHeader__navigation nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    gap: 7.4rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.siteHeader__navigation nav ul li a {
    color: inherit;
    text-decoration: none;
}

.siteHeader__burger {
    display: none;
}

.siteHeader__burger .hamburger {
    vertical-align: middle;
    padding: 1.5rem 1.5rem;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.siteHeader__burger .hamburger-box {
    width: 4rem;
    height: 2.4rem;
    display: inline-block;
    position: relative;
}

.siteHeader__burger .hamburger-inner {
    -webkit-transition-duration: 0.22s;
    transition-duration: 0.22s;
    -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    width: 4rem;
    height: 0.4rem;
    background-color: #fd4;
    border-radius: 0.4rem;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    box-shadow: 0 0 5px #fd4, 0 0 10px #fd4, 0 0 15px #fd4, 0 0 20px #fd4, 0 0 25px #fd4, 0 0 30px #fd4, 0 0 35px #fd4;
}

.siteHeader__burger .hamburger-inner:before {
    -webkit-transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
    top: -1rem;
    content: "";
    display: block;
    width: 4rem;
    height: 0.4rem;
    background-color: #fd4;
    border-radius: 0.4rem;
    position: absolute;
    box-shadow: 0 0 5px #fd4, 0 0 10px #fd4, 0 0 15px #fd4, 0 0 20px #fd4, 0 0 25px #fd4, 0 0 30px #fd4, 0 0 35px #fd4;
}

.siteHeader__burger .hamburger-inner:after {
    -webkit-transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    bottom: -1rem;
    content: "";
    display: block;
    width: 4rem;
    height: 0.4rem;
    background-color: #fd4;
    border-radius: 0.4rem;
    position: absolute;
    box-shadow: 0 0 5px #fd4, 0 0 10px #fd4, 0 0 15px #fd4, 0 0 20px #fd4, 0 0 25px #fd4, 0 0 30px #fd4, 0 0 35px #fd4;
}

.siteHeader__burger .hamburger.active .hamburger-inner {
    -webkit-transform: rotate(-945deg);
    transform: rotate(-945deg);
    -webkit-transition-delay: 0.12s;
    transition-delay: 0.12s;
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.siteHeader__burger .hamburger.active .hamburger-inner:before {
    top: 0;
    opacity: 0;
    -webkit-transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.siteHeader__burger .hamburger.active .hamburger-inner:after {
    bottom: 0;
    -webkit-transform: rotate(810deg);
    transform: rotate(810deg);
    -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

html {
    font-size: -webkit-calc(10 * 100vw / 1920);
    font-size: calc(10 * 100vw / 1920);
    background-color: #000;
    color: #fff;
    min-height: 100vh;
}

@media (max-width: 768px) {
    .siteHeader {
        font-size: 2rem;
    }

    .siteHeader__navigation {
        position: absolute;
        top: 0;
        left: 0;
        width: 80vw;
        height: 100vh;
        background-color: #000;
        z-index: 99;
        padding: 5rem;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0;
        -webkit-transition: 1s ease-in-out;
        transition: 1s ease-in-out;
    }

    .siteHeader__navigation:after {
        box-shadow: inset 0 0 15px #fd4;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 1px solid #fd4;
        overflow: hidden;
    }

    .siteHeader__navigation.opened {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }

    .siteHeader__navigation nav ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        flex-direction: column;
        gap: 4.4rem;
    }

    .siteHeader__navigation nav ul li a {
        text-shadow: 0 0 5px #fd4, 0 0 10px #fd4, 0 0 15px #fd4, 0 0 20px #fd4, 0 0 25px #fd4, 0 0 30px #fd4, 0 0 35px #fd4;
    }

    .siteHeader__burger {
        display: block;
    }

    html {
        font-size: -webkit-calc(10 * 100vw / 768);
        font-size: calc(10 * 100vw / 768);
    }
}
